<div class="row">
    <div class="col-sm-12 col-md-6">
        <app-grafica-dona [objGrafico]="graficos.grafico1"></app-grafica-dona>
    </div>
    <div class="col-sm-12 col-md-6">
        <app-grafica-dona [objGrafico]="graficos.grafico2"></app-grafica-dona>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <app-grafica-dona [objGrafico]="graficos.grafico3"></app-grafica-dona>
    </div>
    <div class="col-sm-12 col-md-6">
        <app-grafica-dona [objGrafico]="graficos.grafico4"></app-grafica-dona>
    </div>
</div>